<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Congratulations, <%= @user.email %>!</h1>
<p>
  You won the following prize: <%@prize.name+", "+@prize.description%><br>
</p>
<p>
  You can receive it in our offices at Universidad de Los Andes.
</p>
<p>Have a great day!</p>
</body>
</html>